body {
  background-image: url("/images/bk_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Monoton";
  background-attachment: fixed;
}

.personal {
  position: absolute;
  margin: auto;
  text-align: center;
  color: #ffffff;
  line-height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.personal img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #ffffff;
}

.personal h1 {
  padding-top: 19px;
  font-size: 35px;
}

.personal h2 {
  font-size: 28px;
  line-height: 1rem;
}

.box {
  background-color: #e8e8e8;
  width: 400px;
  height: 100px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
}

.subBox {
  width: 400px;
  display: inline-block;
  clear: both;
}

.subBox h2 {
  display: inline;
  margin: 25px;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #0f0f0f;
  text-decoration: underline;
}
a:active {
  color: #000000;
  text-decoration: none;
}
